<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.c19x">

    <!-- Must support Bluetooth LE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- Permissions for bluetooth discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Permissions for data network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_virus"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_virus_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service android:name=".logic.ForegroundService" />
        <activity
            android:name=".gui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--        <service android:name=".service.BeaconService" />-->

        <!--        <activity-->
        <!--            android:name=".gui.TestActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".gui.Welcome"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity" />-->
        <!--        <activity-->
        <!--            android:name=".gui.MainActivityOld"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity" />-->

        <!--        <receiver android:name=".old.data.GlobalStatusLogReceiver" />-->
    </application>

</manifest>